__pycache__
*.egg-info
.eggs
.cache
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
eggs/
parts/
*.log
*.tmp
*.lock
*.index
*.fs
*.orig
include
lib
Intra-339914218998-gou6llf3euva7oqb9rh57pi5vn2ocio0.apps.googleusercontent.com.json
o365app.key
.idea/
.kube/
.DS_Store
.python-version
pip-selfcheck.json
config.local.json
venv*
venv-*
docker/elastic/elasticsearch/
charts/*/*.tgz
charts/*/*/*.tgz
.vscode
libsrc
pip-selfcheck.json
snippets/available
*.orig
config-local*

/g.db
/g.db.blobs
telepresence*
src/*
/g.db
/g.db.blobs
.ipynb_checkpoints/
Untitled.ipynb
etc/
pyvenv.cfg
share/

Intra-3863b7170883-storage.json